@import url(main_style.css);

main header {
    position: relative;
    /* height: calc(100vh - 7.95rem); */
}

main header div {
    padding-left: var(--outer-empty-space);
}

main header div:last-of-type {
    position: relative;
    margin-right: max(var(--outer-empty-space), 1rem);
    margin-bottom: 5em;
}

main header div:last-of-type::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 0 .25em .25em 0;
    background-color: var(--secondary-color);

    animation: headerSlideIn .88s;
    animation-timing-function: linear;
}


main header div:first-of-type p {
    font-family: 'kopius', 'serif';
    font-weight: 700;
    font-size: clamp(2rem, 10vw, 5rem);

    max-width: 10em;
    padding: clamp(1rem, 2.5vw, 2rem) 1.5rem;

    animation: elementsFadeIn 1s;
    animation-timing-function: linear;
}

main header div:last-of-type p {
    font-size: clamp(1rem, 4.5vw, 2rem);

    color: var(--primary-color);

    max-width: 22em;
    padding: clamp(1rem, 2.5vw, 2rem) 1.5rem;

    animation: headerLastTextFadeIn 1.8s;
    animation-timing-function: linear;
}

/* main header>p {
    position: absolute;
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: max-content;
    bottom: 0;
    left: 50%;
    right: 50%;

    font-weight: 200;
} */

main header>p::before {
    content: '';
    width: .2rem;
    height: 4em;
    background-color: var(--secondary-color);

}

/*********/
/*my work*/
/*********/

main section:first-of-type h2 {
    color: var(--secondary-color);
    font-size: 2rem;

    padding-left: max(1.5rem, calc(var(--outer-empty-space) + 1.5rem));
}

main section:first-of-type > ul > li:not(:nth-of-type(2)) {
    position: relative;
}

main section:first-of-type > ul > li:not(:nth-of-type(2)):after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 50%;

    border-radius: .25em;
    background-color: var(--secondary-color);

}


main section:first-of-type > ul > li:nth-of-type(2) {
 
}

main section:first-of-type ul li img {
   width: clamp(240px,60vw, 580px);
   box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.58);
   border-radius: 2%;
}

/* tijdelijk boxshadow kloten*/

/* main section:first-of-type ul li:not(:first-of-type) img {
    box-shadow: none;
}

main section:first-of-type > ul > li {
    position: relative;
}
main section:first-of-type > ul > li:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 50%;

    border-radius: .25em;
    background-color: var(--secondary-color);

} */

/********* */

main section:first-of-type ul li h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
}

main section:first-of-type ul li p {
    color: var(--primary-color);
    max-width: 580px;
}



@keyframes elementsFadeIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes headerSlideIn {
    0% {
        transform: translate(-100%);
    }

    40% {

        transform: translate(-100%);
    }

    100% {
        transform: translate(0%);
    }
}

@keyframes headerLastTextFadeIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    55% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}