@import url(main_style.css);

.main-hero {
  position: relative;
  margin-bottom: 5em;
}

.main-hero__heading {
  font-family: "kopius", "serif";
  font-weight: 700;
  font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-columns: minmax(auto, 10em);

  max-width: 75rem;
  margin: 0 auto;
  padding: clamp(1rem, 2.5vw, 2rem) 1.5rem;

  animation: elementsFadeIn 0.6s;
  animation-timing-function: linear;
}

.main-hero__heading a {
  font-family: "kopius", "serif";
  font-weight: 700;
  font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
}

.main-hero__description {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 25em);

  font-size: clamp(1rem, 1vw + 1rem, 1.8rem);

  color: var(--primary-color);
  line-height: 1.48em;

  background-color: var(--secondary-color);
  border-radius: 0 0.25em 0.25em 0;

  max-width: calc(75rem + var(--outer-empty-space));
  padding: clamp(1rem, 2.5vw, 2rem) 1.5rem clamp(1rem, 2.5vw, 2rem)
    max(1.5rem, calc(var(--outer-empty-space) + 1.5rem));
  margin-right: 1.5rem;

  animation: headerSlideIn 0.42s, headerLastTextFadeIn 1.45s;
  animation-timing-function: linear;
  animation-delay: 0.52s, 1.1s;
  animation-fill-mode: backwards;
}

/********/
/*MY WORK/
/********/

.projects {
  padding: 0;
  margin-bottom: 5em;

  animation: elementsFadeIn 0.88s;
  animation-delay: 1.58s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

.projects__heading {
  color: var(--secondary-color);
  font-size: 2rem;
  padding-left: 1.5rem;
}

.projects__list {
  display: grid;
  row-gap: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.project {
  display: grid;
  grid-template-rows: 1fr 5em minmax(6em, auto);
  max-width: 75em;
  margin-right: 1.5rem;
}

.project--mirrored {
  margin-left: 1.5rem;
  margin-right: 0rem;
}

.project img {
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.35);
}

.project--mirrored img {
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.35);
}

/*project info content */

.project__container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(4, min-content);
  justify-content: end;

  background: var(--secondary-color);
  border-radius: 0 0.25rem 0.25rem 0;

  grid-column: -1/1;
  grid-row: 2/4;

  padding: 5em 1em 1em 1em;
}

.project__container--mirrored {
  grid-template-columns: 45% 55%;
}

main > section:first-of-type ul li div > *:not(:nth-child(4), :last-child) {
  grid-column: 1/3;
}

/* main > section:first-of-type ul li:nth-of-type(odd) div {
  border-radius: 0 0.25rem 0.25rem 0;
} */

.project__container--mirrored {
  border-radius: 0.25rem 0 0 0.25rem;
  text-align: right;
}

.project__name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  font-size: var(--h3-size);
}

.project__date {
  font-family: "Poppins", sans-serif;
  font-size: var(--paragraph-size);
  font-weight: 600;
  color: var(--primary-color);

  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
}

.project__description {
  color: var(--primary-color);
  font-size: var(--paragraph-size);
  line-height: 1.6rem;
}

.project__link {
  display: inline-block;
  position: relative;
  width: fit-content;
  justify-self: start;
  padding-top: 1.5rem;

  color: var(--primary-color);
  font-size: 0.875rem;
}

.project__link--mirrored {
  justify-self: end;
}

.project__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.project__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.project--first div a::after {
  background-color: var(--first-project-color);
}

.project--second div a::after {
  background-color: var(--second-project-color);
}

.project--third div a::after {
  background-color: var(--third-project-color);
}

/*the images styling*/

.project__img-wrapper {
  position: relative;
  display: block;
  max-width: clamp(240px, 60vw, 580px);
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 1em;
}

.project__img-wrapper--mirrored {
  justify-self: end;
}

main > section:first-of-type ul li > a:hover,
main > section:first-of-type ul li:nth-of-type(even) > a:hover {
  transform: perspective(110em) translateY(0em) rotateY(0deg) rotateX(0deg);
}

main > section:first-of-type ul li img {
  display: inherit;
  width: 100%;
  border-radius: 2%;

  padding: 0.5rem;

  transition: box-shadow 0.8s ease;
}

main > section:first-of-type ul li img:nth-of-type(even):hover,
main > section:first-of-type ul li img:nth-of-type(odd):hover {
  animation: pictureBlur.8s;
  animation-fill-mode: forwards;
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.35);
}

main > section:first-of-type ul li:first-of-type img {
  background: var(--first-project-color);
}

main > section:first-of-type ul li:nth-of-type(2) img {
  background: var(--second-project-color);
}

main > section:first-of-type ul li:last-of-type img {
  background: var(--third-project-color);
}

/**********/
/*ABOUT ME*/
/**********/

.biography {
  padding: 0;
}

.biography__heading {
  padding-left: max(1.5rem, var(--outer-empty-space));
  font-size: 2rem;
}

.biography__introduction {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}
.biography__introduction div {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin: 1.5rem;
  gap: 1rem;
  line-height: 1.6;
}

.biography__introduction div p {
  font-size: var(--paragraph-size);
}

.biography__img-wrapper {
  position: relative;
  order: -1;
  margin-top: 1rem;
}

.biography__img-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.biography__img {
  background-color: var(--secondary-color);
  width: 100%;
  object-fit: cover;
  max-height: 18rem;
  display: block;
}

.technologies__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--secondary-color);

  margin-bottom: 1rem;
}

.technologies__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  color: var(--secondary-color);
}

.technologies__technology {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  font-size: var(--paragraph-size);
}

.technologies__technology::before {
  content: "";
  margin-right: 0.2rem;

  width: 1.5em;
  height: 1.5em;
  background-size: auto;
  background-repeat: no-repeat;
}

.technologies__technology--html::before {
  background-image: url(../assets/icons/technology_icons/html5_icon.svg);
}

.technologies__technology--css::before {
  background-image: url(../assets/icons/technology_icons/css3_icon.svg);
}

.technologies__technology--js::before {
  background-image: url(../assets/icons/technology_icons/js_icon.svg);
}

.technologies__technology--njs::before {
  background-image: url(../assets/icons/technology_icons/njs_icon.svg);
}

.technologies__technology--mdb::before {
  background-image: url(../assets/icons/technology_icons/mdb_icon.svg);
}

.technologies__technology--vs::before {
  background-image: url(../assets/icons/technology_icons/vsc_icon.svg);
}

.technologies__technology--fig::before {
  background-image: url(../assets/icons/technology_icons/fig_icon.svg);
}

.technologies__technology--wp::before {
  background-image: url(../assets/icons/technology_icons/wp_icon.svg);
}

.technologies__technology--d3::before {
  background-image: url(../assets/icons/technology_icons/d3_icon.svg);
}

.technologies__technology--sass::before {
  background-image: url(../assets/icons/technology_icons/sass_icon.svg);
}

main article:last-of-type section a {
  display: block;
  position: relative;

  color: var(--primary-color);
  background-color: var(--secondary-color);

  width: fit-content;
  padding: 1em 2em;
  border-radius: 5%;
  margin-block: 1.5rem 1rem;
}

main article:last-of-type section a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

main article:last-of-type section a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

main article:last-of-type section a::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 5%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

main article:last-of-type section a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes elementsFadeIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes headerSlideIn {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
  }
}

@keyframes headerLastTextFadeIn {
  0% {
    color: transparent;
  }

  100% {
    color: var(--primary-color);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media screen and (min-width: 50rem) {
  main section:first-of-type ul li {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(50%, auto);
  }

  main section:first-of-type ul li div {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  main section:first-of-type ul li:nth-of-type(even) div {
    padding: 1em calc(50% + 1em) 1em 1em;
    text-align: left;
  }

  main section:first-of-type ul li:nth-of-type(odd) div {
    padding: 1em 1em 1em calc(50% + 1em);
    text-align: right;
  }

  main > section:first-of-type ul li:nth-of-type(odd) img {
    box-shadow: 10px 8px 10px -2px rgba(0, 0, 0, 0.35);
  }

  main > section:first-of-type ul li:nth-of-type(even) img {
    box-shadow: -10px 8px 10px -2px rgba(0, 0, 0, 0.35);
  }

  main section:first-of-type ul li > a {
    width: calc(100% - 1em);
    transform-origin: center 75%;
    transform: perspective(110em) translateY(2em) rotateY(-20deg) rotateX(8deg);
    transition: transform 0.8s ease;
  }

  main section:first-of-type ul li:nth-of-type(even) > a {
    grid-column: 2/3;
    transform: perspective(110em) translateY(2em) rotateY(20deg) rotateX(8deg);
  }

  .project__link {
    justify-self: end;
  }

  .project__link--mirrored {
    justify-self: start;
  }

  /**********/
  /*ABOUT ME*/
  /**********/

  main article section:first-of-type {
    display: grid;
    column-gap: 0rem;
    grid-template-columns: max(1.5rem, var(--outer-empty-space)) 1fr 1fr var(
        --outer-empty-space
      );
  }

  main article section:first-of-type picture {
    grid-column: 3 / 5;
    order: 1;
    border-radius: 2% 0 0 2%;
  }

  main article section:first-of-type picture::after {
    border-radius: 2% 0 0 2%;
  }

  main article section:first-of-type img {
    min-height: 100%;
    border-radius: 2% 0 0 2%;
  }

  main article section:first-of-type div {
    grid-column: 2 / 3;
    margin-inline: 0rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 75em) {
  main section:first-of-type ul li:nth-of-type(odd) div,
  main section:first-of-type ul li:nth-of-type(even) div {
    border-radius: 0.25rem;
  }
}
