/***********************/
/*ALGEMEEN CSS DOCUMENT*/
/***********************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************/
/*CUSTOM PROPERTIES*/
/*******************/

:root {
  /*font-size*/
  --paragraph-size: clamp(1rem, calc(.28vw + 1rem), 1.28rem);
  --h3-size: clamp(1.25rem, calc(1vw + 1rem), 1.75rem);

  /*kleur palet*/
  /* --primary-color:#0A387D;  */
  --primary-color: #082a5e;
  --secondary-color: #f4faff;

  --maxaro-color: #009CA6;
  --tamagotchi-color: #E9C386;
  --traved-color: #db5342;


  /*algemeen measurements*/
  --outer-empty-space: calc(50vw - 37.5rem);
}




/**********/
/*ALGEMEEN*/
/**********/

* a,
* p,
* li {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
}

* h1,
* h2 {
  font-family: 'kopius', serif;
  color: var(--secondary-color);
}


.container {
  max-width: 75rem;
  padding: 1.5rem;
  width: 100%;
  margin: auto;
}

html {
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

* ul {
  list-style: none;
}

/*********/
/*NAV-BAR*/
/*********/

nav {
  margin-bottom: 8em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.8em;
}

nav li:first-of-type a {
  font-weight: 700;
  font-size: 1.75rem;
  font-family: 'kopius', serif;
}

nav li:nth-of-type(2) {
  margin-left: auto;
}

nav li:not(:first-child) a {
  display: inline-block;
  width: fit-content;
  position: relative;
}

nav li:not(:first-child) a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transition: transform 0.3s ease-out;
  background-color: var(--secondary-color);
}

nav li:not(:first-child) a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/********/
/*FOOTER*/
/********/

footer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 1.5rem .5rem;

}

footer ul {
  display: flex;
  gap: 1.5rem;

  margin-bottom: .8rem;
}

footer a {
  display: block;
}

footer a,
footer p {
  color: var(--primary-color);
}

footer ul li {
  display: flex;
  align-items: center;
}

footer p::before {
  content: "©";

  margin-right: .5rem;

  width: .5rem;
  height: .5rem;
}

footer img {
  display: inherit;
  transition: .3s;
}

footer img:hover {
  transform: scale(1.2);
}