/***********************/
/*ALGEMEEN CSS DOCUMENT*/
/***********************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/**************/
/*KLEUR PALLET*/
/**************/
 :root{
   --primary-color:#0A387D; 
   --secondary-color:#F3F6FF;
 }

/**********/
/*ALGEMEEN*/
/**********/

* a, * p{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    font-family: 'popins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 75em;
    padding: 1.5em;
    width: 100%;
    margin: auto;
}

html {
  background-color: var(--primary-color) ;
}

* ul {
  list-style: none;
}

/*********/
/*NAV-BAR*/
/*********/

nav {
 margin-bottom: 2.8em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

nav li:first-of-type a{
  font-weight: 700;
  font-size: 1.75rem;
  font-family: 'kopius', serif;
}

nav li:nth-of-type(2) {
  margin-left: auto;
}

