/***********************/
/*ALGEMEEN CSS DOCUMENT*/
/***********************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*******************/
/*CUSTOM PROPERTIES*/
/*******************/

 :root{
  /*font-size*/
  --paragraph-size:clamp(1rem, calc(.28vw + 1rem), 1.28rem);
  --h3-size:clamp(1.25rem, calc(1vw + 1rem), 1.75rem);
  
  /*kleur palet*/
   /* --primary-color:#0A387D;  */
   --primary-color:#082a5e;
   --secondary-color:#f4faff;

   --maxaro-color:#009CA6;
   --tamagotchi-color:#E9C386;
   --traved-color:#db5342;


   /*algemeen measurements*/
   --outer-empty-space:calc(50vw - 37.5rem);
 }




/**********/
/*ALGEMEEN*/
/**********/

* a, * p, * li{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
}

* h1, * h2 {
  font-family: 'kopius', serif;
  color: var(--secondary-color);
}


.container {
    max-width: 75rem;
    padding: 1.5rem;
    width: 100%;
    margin: auto;
}

html {
  background-color: var(--primary-color) ;
  scroll-behavior:smooth;
}

* ul {
  list-style: none;
}

/*********/
/*NAV-BAR*/
/*********/

nav {
 margin-bottom: 8em;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.8em;
}

nav li:first-of-type a{
  font-weight: 700;
  font-size: 1.75rem;
  font-family: 'kopius', serif;
}

nav li:nth-of-type(2) {
  margin-left: auto;
}

/********/
/*FOOTER*/
/********/

footer {
  background-color: var(--secondary-color);
}

